 <html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon">
  <title>Day8-Night</title>
  <link rel="stylesheet" href="./styles.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="./styles/reset.css">
  <link rel="stylesheet" href="./styles/base.css" type="text/css">
  <link rel="stylesheet" href="/styles/layout.css" type="text/css">
  
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
  <title>day8_night</title>
</head>
<body id="aboutmebody">
  <header>
    <h1 id="about1">Day8-night</h1>
    <li><a href="/">HOME PAGE</a></li>
    <div class="aboutSection"></div>
    <h2 id="about2">About Our Project</h2>
    <p id="description">For our final project, our team is making an app , "day8-night" . This app it will allow us to enjoy our date night by going through D8 Night app and selecting the categories that are important to us based on the selection that is given.


      An application for users to help them select from various categories in order to plan out the perfect date night. Users may search between categories of recipes, cocktails, movies, tv shows, workout ideas, nearby events, music playlists, and finding a new book to share.Enjoy!</p>
  </header>
  <main>
    <h3 id="about3">About Our Team</h3>
    <div class="groupMember">
      <img src="img/tayler.jpg" alt="picture of group Member">
      <p class="teamParagraph" id="tayler">
        Tutorials
        Reference
        Tools & resources
        JavaScript (JS) is a lightweight, interpreted, or just-in-time compiled programming language with first-class functions. While it is most well-known as the scripting language for Web pages, many non-browser environments also use it, such as Node.js, Apache CouchDB and Adobe Acrobat. JavaScript is a prototype-based, multi-paradigm, single-threaded, dynamic language, supporting object-oriented, imperative, and declarative (e.g. functional programming) styles. Read more about JavaScript.
        
        This section is dedicated to the JavaScript language itself, and not the parts that are specific to Web pages or other host environments. For information about API specifics to Web pages, please see Web APIs and DOM.
        
        The standard for JavaScript is ECMAScript. As of 2012, all modern browsers fully support ECMAScript 5.1. Older browsers support at least ECMAScript 3. On June 17, 2015, ECMA International published the sixth major version of ECMAScript, which is officially called ECMAScript 2015, and was initially referred to as ECMAScript 6 or ES6. Since then, ECMAScript standards are on yearly release cycles. This documentation refers to the latest draft version, which is currently ECMAScript 2020.</p>
    </div>
    <br>
    <div class="groupMember">
      <img src="img/chase.jpg" alt="picture of group Member">
      <p class="teamParagraph">
        Tutorials
        Reference
        Tools & resources
        JavaScript (JS) is a lightweight, interpreted, or just-in-time compiled programming language with first-class functions. While it is most well-known as the scripting language for Web pages, many non-browser environments also use it, such as Node.js, Apache CouchDB and Adobe Acrobat. JavaScript is a prototype-based, multi-paradigm, single-threaded, dynamic language, supporting object-oriented, imperative, and declarative (e.g. functional programming) styles. Read more about JavaScript.
        
        This section is dedicated to the JavaScript language itself, and not the parts that are specific to Web pages or other host environments. For information about API specifics to Web pages, please see Web APIs and DOM.
        
        The standard for JavaScript is ECMAScript. As of 2012, all modern browsers fully support ECMAScript 5.1. Older browsers support at least ECMAScript 3. On June 17, 2015, ECMA International published the sixth major version of ECMAScript, which is officially called ECMAScript 2015, and was initially referred to as ECMAScript 6 or ES6. Since then, ECMAScript standards are on yearly release cycles. This documentation refers to the latest draft version, which is currently ECMAScript 2020.
      </p>
    </div>
    <br>
    <div class="groupMember">
      <img src="img/dawit.png" alt="picture of group Member">
      <p class="teamParagraph">Tutorials
        Reference
        Tools & resources
        JavaScript (JS) is a lightweight, interpreted, or just-in-time compiled programming language with first-class functions. While it is most well-known as the scripting language for Web pages, many non-browser environments also use it, such as Node.js, Apache CouchDB and Adobe Acrobat. JavaScript is a prototype-based, multi-paradigm, single-threaded, dynamic language, supporting object-oriented, imperative, and declarative (e.g. functional programming) styles. Read more about JavaScript.
        
        This section is dedicated to the JavaScript language itself, and not the parts that are specific to Web pages or other host environments. For information about API specifics to Web pages, please see Web APIs and DOM.
        
        The standard for JavaScript is ECMAScript. As of 2012, all modern browsers fully support ECMAScript 5.1. Older browsers support at least ECMAScript 3. On June 17, 2015, ECMA International published the sixth major version of ECMAScript, which is officially called ECMAScript 2015, and was initially referred to as ECMAScript 6 or ES6. Since then, ECMAScript standards are on yearly release cycles. This documentation refers to the latest draft version, which is currently ECMAScript 2020..</p>
    </div>
    <br>
    <div class="groupMember">
      <img src="images/nassir.jpg" alt="picture of group Member">
      <p class="teamParagraph">My name is Nassir Abegaz a Software Developer with a background of construction primarily
        building construction supervision . I have a high degree of competence in HTML , CSS and Javascript . I am
        pursuing my goal to become an expert developer because of my passion for building structure , my previous
        engineering experience has equipped me with strength and a team work which translate hand to hand to the coding
        world . I am excited to be learning a new skills through Code Fellows in order to become a professional software
        developer. </p>
    </div>
  </main>
  <footer>
  </footer>
</body>
</html> 


