 <html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon">
  <title>Day8-Night</title>
  <link rel="stylesheet" href="./styles.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="./styles/reset.css">
  <link rel="stylesheet" href="./styles/base.css" type="text/css">
  <link rel="stylesheet" href="/styles/layout.css" type="text/css">
  
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
  <title>day8_night</title>
</head>
<body id="aboutmebody">
  <header>
    <h1 id="about1">Day8-night</h1>
    <li><a href="/">HOME PAGE</a></li>
    <div class="aboutSection"></div>
    <h2 id="about2">About Our Project</h2>
    <p id="description">For our final project, our team is making an app , "day8-night" . This app it will allow us to enjoy our date night by going through D8 Night app and selecting the categories that are important to us based on the selection that is given.


      An application for users to help them select from various categories in order to plan out the perfect date night. Users may search between categories of recipes, cocktails, movies, tv shows, workout ideas, nearby events, music playlists, and finding a new book to share.Enjoy!</p>
  </header>
  <main>
    <h3 id="about3">About Our Team</h3>
    <div class="groupMember">
      <img src="images/Dawit.jpeg" alt="picture of group Member">
      <p class="teamParagraph" id="dawit">
        My name is Dawit Ayana. I am  a self-motivated and goal driven creative individual. I am a junior  software developer  at Code Fellows. Coding has become my new passion here in the last several months. I like how it allows me to be creative and challenge myself at the same time. I  live in Seattle WA and originally I’m from Ethiopia. I enjoy outdoor activities like longboarding, biking and racing cars. Favorite drink is water.</p>
    </div>
    <br>
    <div class="groupMember">
      <img src="images/Taylor.png" alt="picture of group Member">
      <p class="teamParagraph">
        My name is Taylor Thornton and I am a front end software developer based in Seattle, WA.  My professional background is in the non-profit sector with a focus on the arts, education, events and donor database management.  
Through Code Fellows I am building the foundation to switch into a career where learning is not only continuous, but critical.  With a high regard for web design, I look forward to working closely with designers and making their visions comes to life on the web.

      </p>
    </div>
    <br>
    <div class="groupMember">
      <img src="images/Chase.jpeg" alt="picture of group Member">
      <p class="teamParagraph">My name is Chase McFaddin. I’m a software developer from Myrtle Beach, SC with over a decade worth of sales experience. I’ve sold everything from cell phones, pest control, and even fantasy football drafting services. I first became interested in software development after putting together my own website and podcast. I’ve recently moved across the country to the outside Seattle area in order to attend Code Fellows and begin my journey of software development.</p>
    </div>
    <br>
    <div class="groupMember">
      <img src="images/nassir.jpg" alt="picture of group Member">
      <p class="teamParagraph">My name is Nassir Abegaz a Software Developer with a background of construction primarily
        building construction supervision . I have a high degree of competence in HTML , CSS and Javascript . I am
        pursuing my goal to become an expert developer because of my passion for building structure , my previous
        engineering experience has equipped me with strength and a team work which translate hand to hand to the coding
        world . I am excited to be learning a new skills through Code Fellows in order to become a professional software
        developer. </p>
    </div>
  </main>
  <footer>
  </footer>
</body>
</html> 


