<!DOCTYPE html>
<html>
  <head>
    <title>All Favorites</title>
  </head>
  <body>
   <section> <%- include('/cocktailFavorites') %></section>
   <section> </section>
   <section></section>
  </body>
</html>