<!DOCTYPE html>
<html>
  <head>
    <title>All Favorites</title>
    <link rel="stylesheet" type="text/css" href="./styles/reset.css">
    <link rel="stylesheet" href="./styles/indexTaylor.css" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">

  </head>
  <body>
    <header>
      <ul>
        <li><a href="./aboutus"> ABOUT US PAGE</a></li> 
         <li><a href="/">HOME PAGE</a></li>
     </ul>

    </header>
    <body>
      <main>
        <h1>DAY-8 NIGHT: <span>REVIEW FAVORITES</span></h1>
        <form action="">
          <input hidden  type="button">
          <button id="cocktailButton"><a href="./cocktailFavorites">DRINK FAVORITES</a></button>
      
          <input hidden  type="button">
          <button id="tvShowButton"><a href="./favorites">SHOW FAVORITES</a></button>
      
          <input hidden  type="button">
          <button id="recipeButton"><a href="./recipeFavorites">FOOD FAVORITES</a></button>
      
          <input hidden type="button">
          <button id="spotifyButton"><a href="./spotifySearch">MUSIC FAVORITES</a></button>
      
        </form>
      </main>
    </body>
  </body>
</html>