<!DOCTYPE html>
<html>
  <head>
    <title>Cocktail Search by Drink Type</title>
  </head>
  <body>
    <main>
      <h2>Select What Type of Drink You Want</h2>
      <form action="/cocktailResults" method="GET">
        <label for="vodka">Vodka</label>
        <input type="radio" value="vodka" name="keyword">

        <label for="whiskey">Whiskey</label>
        <input type="radio" value="whiskey" name="keyword">

        <label for="tequila">Tequila</label>
        <input type="radio" value="tequila" name="keyword">

        <label for="gin">Gin</label>
        <input type="radio" value="gin" name="keyword">

        <input type="submit" value="Search for Drinks">
      </form>

    </main>
    <footer>

    </footer>
  </body>
</html>