<!DOCTYPE html>
<html lang="en">
    <head>
        <title>final</title>
        <link rel="stylesheet" href="/styles.css" type="text/css">
        <link rel="stylesheet" href="/reset.css" type="text/css">
        <link rel="stylesheet" href="/styles/base.css" type="text/css">
        <link rel="stylesheet" href="/styles/layout.css" type="text/css">
    </head>
    
<body>
    <header>
       
    </header>
    <nav><a href="/">the one </a></nav>
    <section>
        <ul>
            <% data.forEach(final => { %>
                <li>
                    <h2><%=day8_night%></h2>
                    
                </li>
            <% }) %> 
        </ul>
    </section>
</body>
</html>


    