<!-- index to have buttons with links to each API search -->
<!-- HOMEPAGE -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon">
  <title>Day8-Night</title>
  <link rel="stylesheet" href="./styles.css" type="text/css">
  <link rel="stylesheet" href="./reset.css" type="text/css">
  <link rel="stylesheet" href="./styles/base.css" type="text/css">
  <link rel="stylesheet" href="./styles/layout.css" type="text/css">
  <link rel="stylesheet" href="./styles/indexTaylor.css" type="text/css">
  
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
  <title>day8_night</title>
</head>
<body id="homepage">
  <header>
    <a href="./aboutus"> ABOUTUS PAGE</a>
  </header>
  
  <main>
  <form action="">
    <input hidden id="cocktailButton" type="button">
    <button><a href="./cocktailSearch">DRINK</a></button>

    <input hidden id="tvShowButton" type="button">
    <button><a href="./tvshowSearch">WATCH</a></button>

    <input hidden id="recipeButton" type="button">
    <button><a href="./recipeSearch">EAT</a></button>

    <input hidden id="spotifyButton" type="button">
    <button><a href="./spotifySearch">LISTEN</a></button>

  </form>
</main>

</body>
</html>