<!-- index to have buttons with links to each API search -->
<!-- HOMEPAGE -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon">
  <title>Day8-Night</title>
  <!-- <link rel="stylesheet" href="./styles.css" type="text/css"> -->
  <link rel="stylesheet" type="text/css" href="./styles/reset.css">
  <!-- <link rel="stylesheet" href="./styles/base.css" type="text/css"> -->
  <!-- <link rel="stylesheet" href="./styles/layout.css" type="text/css"> -->
  <link rel="stylesheet" href="./styles/indexTaylor.css" type="text/css">

  
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
  <title>day8_night</title>
</head>
<body>
  <header>
    <ul>
     <li><a href="./aboutus"> ABOUT US PAGE</a></li> 
      <li><a href="./allFavorites">FAVORITES PAGE</a></li>
    </ul>
  </header>

  

  <main>
    <h1>DAY-8 NIGHT: <span>SEARCH FOR AN IDEA</span></h1>
  <form action="">
    <input hidden  type="button">
    <button id="cocktailButton"><a href="./cocktailSearch">DRINKS</a></button>

    <input hidden  type="button">
    <button id="tvShowButton"><a href="./tvshowSearch">SHOWS</a></button>

    <input hidden  type="button">
    <button id="recipeButton"><a href="./recipeSearch">FOOD</a></button>

    <input hidden  type="button">
    <button id="spotifyButton"><a href="./spotifySearch">MUSIC</a></button>

  </form>
</main>

</body>
</html>