<!DOCTYPE html>
<html>
  <head>
    <title>Recipe Search by Cuisine</title>
  </head>
  <body>
    <main>
      <h2>Select What Type of Meal Do You Want to Eat</h2>
      <form action="" method="">
        <label for="ingredient"></label>
        <input type="text" value="ingredient" name="keyword">
        <input type="submit" value="Search for Meal">
      </form>

    </main>
    <footer>

    </footer>
  </body>
</html>