<!DOCTYPE html>
<html>
  <head>
    <title>TV Show Search by Genre</title>
  </head>
  <body>
    <main>
      <h2>Select What Type of Show Do You Want to Watch</h2>
      
      <form action="/shows" method="GET">
        <label for="keyword">input your search here</label>
        <input type="text"  name="keyword">

        <!-- <label for="drama">Drama</label>
        <input type="radio" value="drama" name="keyword">

        <label for="comedy">Comedy</label>
        <input type="radio" value="comedy" name="keyword">

        <label for="Action">Action</label>
        <input type="radio" value="action" name="keyword"> -->

        <input type="submit" value="Search for TV Show">
      </form>

    </main>
    <footer>

    </footer>
  </body>
</html>