/* /* body {
  background: red;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: column;
  height: 1000px;
  width: 600px; 
}

section{
  display: flex;
  flex-wrap: no-wrap;
} */

img {
  width: 200px;
  height: 200px;
}

body {
  background-color: aliceblue;
}

main {
  /* width: 600px; */
  display: grid;
  grid-template-columns:  200px repeat(auto-fill, minmax(200px, 1fr));
  
  grid-gap: 0.5rem;
}

section {
  display: block;
  border: 1px solid black;
}


img{
  width: 100%
}


